langchain
langchain-community
langchain
langchain-chroma==0.2.5
langchain-openai
openai
chromadb==1.0.15
tiktoken
beautifulsoup4
requests
schedule
python-dotenv
crewai
streamlit
pydantic
pydantic-core